services:
  livekit:
    image: livekit/livekit-server:latest
    container_name: livekit-server
    restart: unless-stopped
    ports:
      - "7880:7880"
      - "7881:7881"
      - "50000-60000:50000-60000/udp"
    environment:
      LIVEKIT_CONFIG: ${LIVEKIT_CONFIG}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.livekit.rule=Host(`live.rohit.one`)"
      - "traefik.http.routers.livekit.entrypoints=websecure"
      - "traefik.http.routers.livekit.tls=true"
      - "traefik.http.routers.livekit.tls.certresolver=letsencrypt"
      - "traefik.http.services.livekit.loadbalancer.server.port=7880"
